{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    {% if user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h1 class="mb-3">Tableau de Bord</h1>
            <p>Bienvenue, {{ user.username }} ! Explorez votre gestion financière.</p>
        </div>
    </div>
    <div class="row">
        <div class="mt-3">
                <a href="{% url 'add_budget' %}">Ajouter un budget</a>
            </div>
        <h2>Mes budgets</2>
            {% for budget in budgets %}
                <div>
                    <h2>{{ budget.category.name }}</h2>
                    <p>Budget: {{ budget.amount }}</p>
                </div>
            {% endfor %}
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h1 class="mb-3">Gestion Financière</h1>
            <p>Bienvenue sur votre plateforme de gestion financière. Connectez-vous pour commencer.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <a href="{% url 'login' %}" class="btn btn-primary">Se connecter</a>
            <div class="mt-3">
                Pas de compte ? <a href="{% url 'signup' %}">Créez un compte.</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
